* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.box {
    border: 1px solid black;
}

.reset-btn {
    text-align: center;
}